<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta property="og:locale" content="en_US" />
  <meta property="og:site_name" content="{{ config.site_name }}" />
  <meta name="twitter:card" content="summary" />

  {% if page and page.meta.description %}
  <meta name="description" content="{{ page.meta.description }}">
  <meta property="og:description" content="{{ page.meta.description }}" />
  <meta name="twitter:description" content="{{ page.meta.description }}" />
  {% elif config.site_description %}
  <meta name="description" content="{{ config.site_description }}">
  <meta property="og:description" content="{{ config.site_description }}" />
  <meta name="twitter:description" content="{{ config.site_description }}" />
  {% endif %}

  {% if page and page.meta.author %}
  <meta name="author" content="{{ page.meta.author }}">
  {% else %}
  <meta name="author" content="{{ config.site_author }}">
  {% endif %}

  {% if page and page.meta.title %}
  <title>{{ page.meta.title | striptags }} | {{ config.site_name }}</title>
  <meta property="og:title" content="{{ page.meta.title }}" />
  <meta name="twitter:title" content="{{ page.meta.title }}" />
  {% elif page.title and not page.is_homepage %}
  <title>{{ page.title | striptags }} | {{ config.site_name }}</title>
  <meta property="og:title" content="{{ page.title | striptags }}" />
  <meta name="twitter:title" content="{{ page.title | striptags }}" />
  {% else %}
  <title>{{ config.site_name }}</title>
  <meta property="og:title" content="{{ config.site_name }}" />
  <meta name="twitter:title" content="{{ config.site_name }}" />
  {% endif %}

  {% if page and page.meta.image %}
  <meta property="og:image" content="{{ page.meta.image | url }}" />
  <meta name="twitter:image" content="{{ page.meta.image | url }}" />
  {% endif %}

  {% if page and page.meta.keywords %}
  <meta name="keywords" content="{{ page.meta.keywords }}" />
  {% endif %}

  {% if page and page.meta.ogtype %}
  <meta property="og:type" content="{{ page.meta.ogtype }}" />
  {% elif 'blog' in page.url %}
  <meta property="og:type" content="article" />
  {% else %}
  <meta property="og:type" content="website" />
  {% endif %}

  {% if page and page.meta.robots %}
  <meta name="robots" content="{{ page.meta.robots }}" />
  {% else %}
  <meta name="robots" content="index, follow" />
  {% endif %}

  {% if page and page.canonical_url %}
  <link rel="canonical" href="{{ page.canonical_url | url }}">
  <meta property="og:url" content="{{ page.canonical_url | url }}" />
  <meta property="twitter:url" content="{{ page.canonical_url | url }}" />
  {% endif %}

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-1TEYPEZ2YY"></script>
  <script async>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-1TEYPEZ2YY');
  </script>

  {% if page.url == "request/" %}
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  {% endif %}

  <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    type="text/css">
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/style.min.css" rel="stylesheet">

  {% for stylesheet in config.theme.extracss %}
  <link href="{{ stylesheet }}" rel="stylesheet">
  {% endfor %}
</head>

<body class="bg-black">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top {{ config.theme.mainnav.bgcolor }}">
    <a class="navbar-brand" href="/">{{ config.site_name }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        {% for link in config.theme.mainnav.links %}
        {% if link.button == false %}
        <li class="nav-item">
          <a class="nav-link {{ config.theme.mainnav.linkcolor }}" href="{{ link.url | url }}">{{ link.name }}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
      {% for link in config.theme.mainnav.links %}
      {% if link.button == true %}
      <form class="form-inline mt-2 mt-md-0 mr-1" action="{{ link.url }}" method="GET">
        <button class="btn {{ config.theme.mainnav.buttoncolor }} my-2 my-sm-0" type="submit">{{ link.name }}</button>
      </form>
      {% endif %}
      {% endfor %}
    </div>
  </nav>

  <main role="main" class="bg-light">

    {% for message in config.theme.sitemessage %}
    <section class="{{ message.bgcolor }} {{ message.textcolor }} py-4 sitemessage">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 pb-2 pl-4">
            <h4>{{ message.heading }}</h4>
            <p>{{ message.detail }}</p>
          </div>
        </div>
      </div>
    </section>
    {% endfor %}

    {% if page and page.is_homepage %}

    {% for message in config.theme.homemessage %}
    <section class="{{ message.bgcolor }} {{ message.textcolor }} py-4 homemessage">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 pb-2 pl-4">
            <h4>{{ message.heading }}</h4>
            <p>{{ message.detail }}</p>
          </div>
        </div>
      </div>
    </section>
    {% endfor %}

    {% for jt in config.theme.jumbotron %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron {{ jt.textcolor }}" style="background-image: url({{ jt.background_image }});">
      <div class="container">
        <h1 class="display-3">{{ jt.heading }}</h1>
        <p>
          {{ jt.detail }}
        </p>
        <p>
          <a class="btn {{ jt.buttoncolor }} btn-lg" href="{{ jt.url | url }}" role="button">Learn more&raquo;</a>
        </p>
      </div>
    </div>
    {% endfor %}

    {% for feature in config.theme.featurette %}
    <div class="{{ feature.bgcolor }} {{ feature.textcolor }} featurette">
      <div class="container">
        <div class="row py-3">
          <div class="col-sm-12 col-md-6 text-center">
            <h2 class="featurette-heading text-center">{{ feature.heading }}</h2>
            <p class="lead">{{ feature.description }}</p>
            <p><a class="btn btn-dark-gray" href="{{ feature.buttonlink | url }}">Read more!</a></p>
          </div>
          <div class="col-md-6">
            <img src="{{ feature.imageurl | url }}" alt="{{ feature.heading }}" />
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

    {% elif page and page.meta.title %}
    <div class="container pt-3">
      <h1 class="pt-3">{{ page.meta.title }}</h1>
    </div>
    {% endif %}

    <div class="bg-success text-light container py-2 d-none" id="successmessage">
      Your request has been submitted successfully!
    </div>

    <div class="bg-danger text-light container py-2 d-none" id="failuremessage">
      An error occurred when attempting to process your request.
    </div>

    <div class="container py-2" id="pagebody">
      {%- block content %}
      {{ page.content }}
      {%- endblock %}
    </div>
  </main>

  {% for promo in config.theme.promotions %}
  <section class="{{ promo.bgcolor }} {{ promo.textcolor }} py-4 promotions">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 pb-2 text-center">
          <h4>{{ promo.heading }}</h4>
          <p>{{ promo.detail }}</p>
        </div>
        <div class="col-sm-12 col-md-6 pb-2 text-center">
          <form method="GET" action="{{ promo.buttonurl }}">
            <input type="submit" class="btn btn-lg {{ promo.buttoncolor }}" value="{{ promo.buttontext }}">
          </form>
        </div>
      </div>
    </div>
  </section>
  {% endfor %}

  {% for section in config.theme.subfooter %}
  <section class="{{ section.bgcolor }} {{ section.textcolor }} subfooter">
    <div class="container text-center py-3">
      <div class="row">
        {% for column in section.columns %}
        <div class="col-sm-12 col-md-4">
          <h4 class="subfooterheader {{ section.headercolor }}">{{ column.heading }}</h4>
          {% for item in column.links %}
          <p>
            {% if item.icon %}
            <i class="{{ item.icon }}"></i>
            {% endif %}
            {% if item.url %}
            <a href="{{ item.url | url }}" class="{{ section.textcolor }}">
              {{ item.name}}</a>
            {% else %}
            {{ item.name }}
            {% endif %}
          </p>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  {% endfor %}

  {% for section in config.theme.footer %}
  <footer class="{{ section.bgcolor }} {{ section.textcolor }}">
    <div class="container text-center py-3">
      <div class="col-sm-12">
        &copy; Copyright {{ build_date_utc.strftime("%Y") }} {{ config.copyright }}
        {% for link in section.links %}
        | <a href="{{ link.url | url }}">{{ link.name }}</a>
        {% endfor %}
        <br />
        Website developed by <a href="#" target='_blank'>Robinson Handy and Technology Services LLC</a>
      </div>
      <div class="text-small col-sm-12 pt-2">
        Cookies are used on this website to track your visits, provide advertisements specific to you, and preferences
        by a third-party. By continuing to use this site, you agree to the use of cookies unless you have disabled them.
        More information this is available in the Privacy Policy.
        {% if page and page.is_homepage %}
        Last updated: {{ build_date_utc }}
        {% endif %}
      </div>
    </div>
  </footer>
  {% endfor %}

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" async
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <!-- <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script> -->
  <script async src="/js/bootstrap.bundle.min.js"></script>
  <script async src="https://kit.fontawesome.com/a076d05399.js"></script>
  {% for scriptfile in config.theme.extrajs %}
  <script async src="{{ scriptfile }}"></script>
  {% endfor %}
</body>

</html>